/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e6e6e6;
}

header {
  position: relative;
}
#logo-adjust {
  padding-left: 10em;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3em;
  max-width: 25%;
  height: auto;
}
  /* NavBar */
  ul {
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 9em;
    padding-top: 3em;
  }
  
  li {
      float: right;
      font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
      display: inline-block;
      padding: 15px 20px;
      position: relative;
    }
    a:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after { 
      width: 100%; 
      left: 0; 
    }
    /* Fontes */
    @font-face{
      font-family:GoldplayBold;
      src: url(assets/fonts/Goldplay_Bold.otf);
    }
    @font-face{
      font-family:GoldplayRegular;
      src: url(assets/fonts/Goldplay_Regular.otf);
    }
    @font-face{
      font-family:Museo700;
      src: url(assets/fonts/museo-700.otf);
    }
    input {
      font-family: GoldplayBold;
    }
/* Sessões */
#sobre1 {
 color: #e6e6e6;
 background-color: #222127;
 padding: 10px 0 10px;
 text-align: justify;
}
#sobre1 h1 {
    margin: 8%;
    text-align: center;
    font-family: Museo700;
}
.sobre2 {
  background-color: #0884bc;
}
.sobre2 p {
  color: #e6e6e6;
  font-family: GoldplayRegular;
  font-size: 20px;
  padding-top: 40px;
  
}
.sobre2 img {
  max-width: 60%;
  height: auto;
  padding-top: 30%;
}
#sobre3 {
    background-color: #e6e6e6;
    padding: 10px 0 10px;
}
#sobre3 p {
    color: #4d4d4d;;
    margin: 8%;
    font-size: 30px;
    font-family: GoldplayRegular;
}
#sobre4 {
    background: rgb(34,33,39);
    background: linear-gradient(0deg, rgba(34,33,39,1) 70%, rgba(230,230,230,1) 70%);
    text-align:center
}
#sobre4 img {
    max-width: 70%;
    height: auto;
}
#sobre5 {
    background-color: #e6e6e6;
    max-width: 950px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px
}
#curso {
    background-color: #222127;
}
#curso img {
    padding-top: 20%;
    padding-bottom: 80px;
    margin-left: 13%;
    
}
#sobre7 {
  background-color: #e6e6e6;
}
#sobre7 img {
  max-width: 50%;
  height: auto;
}
#sobre8 {
  background-color: #222127;
}
#sobre9 {
  background-image: url("assets/middle.png");
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sobre9 img {
  max-width: 70%;
  height: auto;
  padding-top: 30%;
}
#sobre9 p {
  color: #e6e6e6;
  font-size: 20px;
  font-family: GoldplayRegular;
}
#sobre10 {
  background-color: #e6e6e6;
}
#sobre10 img {
  max-width: 70%;
  height: auto;
  padding: 15% 0 15%;
}
#valores {
  background-color: #222127;
  color: #ffffff;
}
#sobre12 {
  text-align: start;
  font-size: 1.5rem;
  padding: 7% 0 15%;
}
#sobre12 p {
  font-family: GoldplayRegular;
  color: #666666;
}









/* Classes */
.caixa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .sub {
    background-color: #0086be;
    border: none;
    color: white;
    padding: 20px 54px;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 900;
    display: block;
    width: 100%;
    transition: 0.3s;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sub2 {
  background-color: #0086be;
  border: none;
  color: white;
  padding: 15px 54px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 900;
  display: block;
  max-width: 60%;
  transition: 0.3s;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sub:hover {
    background: #079ddb;
    text-decoration: none;
}
.caixa-dois {
    padding: 70px 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .avatar {
    margin: 4%;
    width: 27%;
    height: 100%;
  }
  .avt-txt {
      padding-bottom: 35px;
      font-size: 40px;
      color: #0086be;
      font-family: Museo700;
  }
  .avt-title {
      font-size: 30px;
      font-family: Museo700;
      color: #666666;
      font-weight: lighter;
  }
  .avt-txt-desc {
    font-size: 19px;
    font-family: GoldplayRegular;
    color: #4d4d4d;
    text-align: justify;
    width: 500px;
  }
  .p1 {
    font-size: 40px;
    color: #666666;
    text-align: start;
    font-family: Museo700;
    line-height: 90%;
  }

  .normalized-img {
    max-width: 10%;
    height: auto;
  }
  .desc {
    width: 350px;
    color: #ffffff;
    font-size: 50px;
    margin-left: 13%;
    line-height: 90%;
    font-family: Museo700;
}
  .desc1 {
    color: #222127;
    width: 180px;
    font-size: 40px;
    font-family: Museo700;
    line-height: 90%;
  }
  .underline2 {
    color: #0086be;
    font-size: 40px;
  }
  .underline3 {
     padding-top: 15%;
    margin-left: 13%;
    color: #0086be;
    font-size: 40px;
  }
  .underline4 {
   padding-top: 12%;
   color: #0086be;
   font-size: 50px;
 }
  .desc-dois {
    color: #cccccc;
    font-size: 20px;
    font-family: GoldplayRegular;
    width: 500px;
    text-align: justify;
    padding-bottom: 150px;
}
.desc-dois2 {
  color: #cccccc;
  font-size: 20px;
  font-family: GoldplayRegular;
  width: 500px;
  text-align: justify;
  padding-bottom: 500px;
}
.desc-tres {
  color: #999999;
  font-size: 20px;
  font-family: Museo700;
  width: 700px;
  text-align: start;
}
.caixa-tres {
    display: flex;
    flex-direction: row;
}
.caixa-tres3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.underline {
  margin-left: 13%;
  color: #0086be;
  font-size: 40px;
}
.btnlive {
  background-color:#990000;
  height: 90px;
  width: 200px;
  border-radius: 10px;
  color: white;
  font-size: 60px;
  font-family: GoldplayRegular;
  margin-top: -30%;
  margin-left: 15%;
  border-color: transparent;
}
.desc-seis {
  max-width: 40%;
  color: #ffffff;
  font-size: 20px;
  margin-left: 13%;
  font-family: PlutoExtraLight;
}
.desc-quatro {
  width: 400px;
  color: #ffffff;
  font-size: 35px;
  margin-left: 13%;
  padding-bottom: 60%;
  font-family: Museo700;
  line-height: 95%;
}
.desc-cinco {
  color: #e6e6e6;
  font-size: 20px;
  font-family: PlutoExtraLight;
  width: 500px;
  text-align: start;
  padding-bottom: 150px;
}
.conteudoprogramatico {
  color:#999999;
  font-family: GoldplayRegular;
  font-size: 20px;
}
.caixa-cinco {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.valores {
  font-size: 40px;
  color: #ffffff;
  font-family: Museo700;
}
.valordocurso {
  font-size: 20px;
  font-family: GoldplayRegular;
  color: #e6e6e6;
}
.azul {
  color: #0086be;
}
.formasdepagamento {
  font-size: 20px;
  font-family: GoldplayRegular;
  color: #e6e6e6;
}
.valordoinvestimento {
  font-size: 40px;
  font-family: Museo700;
}
.pequeno {
  font-size: 20px;
}
.oitenta {
  max-width: 80%;
  margin: auto;
}
.image-adjust {
max-width: 260px;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 50px;
}
#list div {
  margin-top: 10px;
  font-size: 20px;
} 
.colors {
  color: #ffffff;
  font-size: 20px;
  font-family: Museo700;
  width: 500px;
  text-align: start;
  padding-bottom: 150px;
}
.colors2 {
  color: #ffffff;
  font-family: PlutoExtraLight;
  width: 500px;
  text-align: start;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
footer {
    background-image: url(assets/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 100px 0 100px 0;
  }
  .space-around {
    display: flex;
    justify-content: space-around;
   }
   .icons {
    padding-right: 20px;
  }

